<h1>Edite seu livro</h1>
<form action="/books/updatedbook" method="POST" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
 <div clas="form-control">
   <label for="title">Titulo</label>
   <input 
     type="text" name="title" 
     aria-placeholder="Digitr o titulo" 
     value="{{book.title}}"/>
 </div>
 <div class="form-control">
    <label for="pageqty">Quantidade de paginas:</label>
    <input 
      type="number" 
      name="pageqty" 
      placeholder="Quantas páginas o livro tem?"
      value="{{book.pageqty}}"/>
 </div>
 <input type="submit" value="editar">
</form>